{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-4" style="position: absolute; margin-left:35vw;">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">$ {{ product.price }}</h1>
            <p class="list-unstyled mt-3 mb-4 text-start m-3">
                {{ product.description }}
            </p>
            <div class="btn-group">
                {% if perms.catalog.can_unpublish_product and perms.delete_Product or user == product.owner %}
                <a class="btn btn-outline-primary" href="{% url 'update_product' product.pk %}" role="button">Изменить</a>
                <a class="btn btn-outline-primary" href="{% url 'delete_product' product.pk %}" role="button">Удалить</a>
                {% endif %}
                <a class="btn btn-lg btn-block btn-outline-primary", href="/">На главную</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}